{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-5 p-5">
        <h1 class="text-center">Welcome</h1>
        <form action="{% url 'print_text' %}" method="POST">
            {% csrf_token %}
            <a class="btn btn-danger" data-bs-toggle="collapse" href="#custom"
                role="button" aria-expanded="false" aria-controls="custom">
                Custom
            </a>
            <a class="btn btn-success" data-bs-toggle="collapse" href="#dialog"
                role="button" aria-expanded="false" aria-controls="dialog">
                Dialog
            </a>
            <div class="collapse multi-collapse mt-2" id="custom">
                <div class="">
                    <label for="description" class="form-label">Text to be printed</label>
                    <textarea name="text" class="form-control" id="description" rows="3"></textarea>
                </div>
                <input type="submit" class="btn btn-primary btn-block mt-2" value="Print">
            </div>

            <div class="collapse multi-collapse mt-2" id="dialog">
                <input type="submit" class="btn btn-primary btn-block mt-2" name="text" value="Hallo">
                <input type="submit" class="btn btn-primary btn-block mt-2" name="text" value="Guten Tag!">
            </div>
        </form>
    </div>
</div>
{% endblock %}